.button-account {
    padding: 10px;
    background: #3B6A7B;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 4px;
}

.button-property {
    padding: 8px;
    background: #F5F5F5;
    text-decoration: none;
    color: #3B6A7B;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #3B6A7B;
    margin-right: 15px;
}

.button-account:hover{
    color: white;
}

.button-account:active{
    background: #315664;
}

.button-property:hover{
    color: #3B6A7B;
}

.button-property:active{
    background: #b8b8b8;
    color: #4c8da4;
}

.container-links {
    display: flex;
    gap: 20px;
}