.title{
    text-align: center;
}
.title span{
    color: #4D8AA0;
}

.container-boton{
    display: flex;
}
.opcion-login{
    box-sizing: border-box;
    border: none;
    background-color: inherit;
    font-weight: bold;
    letter-spacing: 1.1px;
    width: fit-content;
    padding: 8px;
}

.opcion-login:hover{
    border-bottom: 2px solid #4D8AA0;
    color: #4D8AA0;
}

.login-input{
    padding: 12px;
    background-color: rgb(240, 240, 240);
    border: 1px solid grey;
    border-radius: 0.35rem;
}

.boton-submit{
    border: none;
    border-radius: .25rem;
    padding: 10px;
    background-color: gray;
    font-weight: bold;
    color: white;
    transition: 400ms;
}

.boton-submit:hover{
    background-color: #4D8AA0;
}

.boton-submit:active{
    background-color: #3e7082;
}

.container-login{
    display: grid;
    grid-template-rows: auto;
    gap: 25px;
}

.container-login input{
    width: 100%;
}

.group-input{
    display: flex;
    justify-content: space-between;
}

.group-input input{
    width: 48%;
    
}