/*------------------------------------- ESTILOS DEL HOME ---------------------------------------------------*/

.home img {
  display: block;
  width: 100vw;
  height: 50vh;
}


.form-container {
  width: 50rem;
  height: 10rem;
  background-color: #cdcdcd;
  margin: 0 auto;
  transform: translateY(-50%);
  border-radius: .75rem;
}

#form {
  display: flex;
  height: 100%;
}

#form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 2rem;
  transform: translateY(8%);
}

#form-group input {
  border: 1px solid #000;
}

#form-group button {
  margin: 0 auto;
  width: 80%;
}
/* Estilo del menu */
.title{
  text-align: center;
}
.title span{
  color: #346187;
}